<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="form-excel" action="/excel/upload" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Sube el archivo:</p>
    <div class="form-row">
        {{ form }}
    </div>
    <br>
    <button class="default" id="excel-form" type="submit">Subir</button>
</form>
</body>
</html>